body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fadeIn {
  -webkit-animation: fadein 1.1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1.1s; /* Firefox < 16 */
      -ms-animation: fadein 1.1s; /* Internet Explorer */
       -o-animation: fadein 1.1s; /* Opera < 12.1 */
          animation: fadein 1.1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}




.champion-image-tier1:after {
  content:'';
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: #FFFFFF;
  opacity: 0.25;
  pointer-events: none;
}

.champion-image-tier1:hover:after {
  opacity: 0.0;
}


.champion-image-tier2:after {
  content:'';
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: #00e33d;
  opacity: 0.2;
  pointer-events: none;
}

.champion-image-tier2:hover:after {
  opacity: 0.0;
}

.champion-image-tier3:after {
  content:'';
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: #0099ff;
  opacity: 0.25;
  pointer-events: none;
}

.champion-image-tier3:hover:after {
  opacity: 0.0;
}


.champion-image-tier4:after {
  content:'';
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: #cc00ff;
  opacity: 0.2;
  pointer-events: none;
}

.champion-image-tier4:hover:after {
  opacity: 0.0;
}

.champion-image-tier5:after {
  content:'';
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: #ffdd00;
  opacity: 0.2;
  pointer-events: none;
}

.champion-image-tier5:hover:after {
  opacity: 0.0;
}


.champion-image-selected:after {
  content:'';
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: #ff0000;
  opacity: 0.35;
  pointer-events: none;
}

.champion-image-selected:hover:after {
  opacity: 0.2;
}

.champion-image-default:after {
  content:'';
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: #ffffff;
  opacity: 0.0;
  pointer-events: none;
}

.champion-image-default:hover:after {
  opacity: 0.2;
}


.clickEffect {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color :#FFFFFF;
  border-radius: 50%;
  animation: clickEffect 0.4s ease-out;
  z-index: 99999;
}

@keyframes clickEffect{
  0%{
    opacity: 1;
    width: 0.5em;
    height: 0.5em;
    margin: -0.25em;
    border-width: 0.5em;
    }
  100%{
    opacity:0.2;
    width:15em; height:15em;
    margin:-7.5em;
    border-width:0.03em;
  }
}

.rotated45 {

  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

}